<a href="https://colab.research.google.com/github/KONIPY/TMDB_movies/blob/master/Content_based_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! git clone https://github.com/KONIPY/TMDB_movies.git

Cloning into 'TMDB_movies'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 3 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [3]:
ls

sample_data/  TMDB_movies/

In [5]:
import pandas as pd
import numpy as np
import warnings ; warnings.filterwarnings('ignore')

In [7]:
movies = pd.read_csv('TMDB_movies/tmdb_5000_movies.csv')

In [8]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [10]:
movies_df = movies[['genres', 'id', 'keywords', 'popularity', 'title', 'overview','vote_count']]

In [11]:
movies_df[:3]

                                              genres  ...  vote_count
0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...       11800
1  [{"id": 12, "name": "Adventure"}, {"id": 14, "...  ...        4500
2  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...        4466

[3 rows x 7 columns]

In [26]:
from ast import literal_eval

movies_df = movies[['genres', 'id', 'keywords', 'popularity', 'title', 'overview','vote_count','vote_average']]
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

In [29]:
genre_sim_sorted_ind = genre_sim.argsort()[:,::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

In [30]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
  title_movie = df[df['title']==title_name]

  title_index = title_movie.index.values
  similar_indexes = sorted_ind[title_index, :(top_n)]

  print(similar_indexes)
  similar_indexes = similar_indexes.reshape(-1)

  return df.iloc[similar_indexes]

In [31]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [32]:
movies_df[['title', 'vote_average','vote_count']].sort_values('vote_average', ascending = False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [33]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C : ', round(C, 3), 'm : ', round(m,3) )

C :  6.092 m :  370.2

In [35]:
percentile = 0.6

m = movies['vote_count'].quantile(percentile)
C = movies['vote_average'].mean()

def weighted_vote_average(record):
  v = record['vote_count']
  R = record['vote_average']

  return ((v/(v+m))*R) + ((m/(m+v))*C)

movies_df['weighted_vote'] = movies.apply(weighted_vote_average, axis =1)

In [36]:
movies_df.columns

Index(['genres', 'id', 'keywords', 'popularity', 'title', 'overview',
       'vote_count', 'vote_average', 'genres_literal', 'weighted_vote'],
      dtype='object')

In [37]:
movies_df[['title', 'vote_count', 'vote_average', 'weighted_vote']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_count  vote_average  weighted_vote
1881  The Shawshank Redemption        8205           8.5       8.396052
3337             The Godfather        5893           8.4       8.263591
662                 Fight Club        9413           8.3       8.216455
3232              Pulp Fiction        8428           8.3       8.207102
65             The Dark Knight       12002           8.2       8.136930
1818          Schindler's List        4329           8.3       8.126069
3865                  Whiplash        4254           8.3       8.123248
809               Forrest Gump        7927           8.2       8.105954
2294             Spirited Away        3840           8.3       8.105867
2731    The Godfather: Part II        3338           8.3       8.079586

In [39]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10) :
  title_movie = df[df['title']==title_name]
  title_index = title_movie.index.values

  similar_indexes = sorted_ind[title_index, :(top_n*2)]
  similar_indexes = similar_indexes.reshape(-1)

  similar_indexes = similar_indexes[similar_indexes != title_index]

  return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427